

.bg {
  background: url(../images/bg3bw.jpg) no-repeat center ;
  background-size: cover;
  height: 300px;
  width: auto;

}
.box-blog{
  border:1px dotted #ccc;
  padding:2px;
  margin:3px;
  background-color:#BCD5CB;
}
.box{
  padding: 10px
}


#container {
  width: 960px;
  margin:auto;
  padding-bottom: 5px;
}
#image-combo{
    list-style:none;
    vertical-align: left;
    float: left;
    margin-left: 60px;
}
#image-combo li{
  text-align: center;
}
#row4{
  position: absolute;
  top: 0;
  left: 45%;
}
#row4 ul {
  list-style:none;
  margin-top: 10px;
  padding: 0%;
}
#row4  ul li{
  display: inline;
  padding-right: 10px;
  word-spacing: -1.5px;

}
#row4 nav ul li a{
  display: inline-block;
   text-decoration: none;
   color:white;
}
#row4 nav ul li a:hover{
  color:#425189;
  }

#row4 img{
    width:30px; /* you can use % */
    height: auto;
}


.link-to-RWD{
 float: right;
}

footer{
  text-align: center;
  font-size: 10px;
}
p{
  line-height: 1.4;
}

p.left{
  float:left;
}
