

.bg {
  background: url(../images/bg1.jpg) no-repeat center;
  height: 300px

}
.box-blog{
  border:1px dotted #ccc;
  padding:2px;
  margin:3px;
  background-color:#BCD5CB;
}
.box{
  padding: 10px
}


#container {
  width: 960px;
  margin:auto;
  padding: auto;
}
#image-combo{
    list-style:none;
    vertical-align: left;
    float: left;
    margin-left: 60px;
}
#image-combo li{
  text-align: center;
}
#nav-bar{
  background-color:#99DCBB;
  margin-bottom: 10px;
  width: 960px;
  margin:auto;
  font-size: large;

}

.nav{

    text-align: right;
    margin-right: 100px;
    list-style:none;
    padding:40px;

}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:5px;
}

.img-circular{
 width: 60px;
 height: 60px;
 background-image: url(../images/me.jpg);
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

.link-to-RWD{
 float: right;
}

footer{
  text-align: center;
  font-size: 10px;
}