*{
  color: #31312c;
  font-family: 'Open Sans';
  font-weight: 400;
}

h2 {
  font-size: 16px;
  background-color: #abab9a;
  padding:5px 10px;
}

#container{
  width:960px;
  padding: 50px 20px;
  margin: auto;
  background-color: #dcdcc6;
  height: 2000px;
}
.small-box{
  width:300px;
  background-color: #dcdcc6;
  margin:10px;
}
.align-left{
  float:left;
}
#cs_filter{
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
}

td{
  background-color: #c4c4b0;
  padding: 10px;
  font-size: 12px;
}
th{
  background-color: #abab9a;
  color:white;
  padding: 10px;
  width: 80px;
}

.searchInput{
  border-radius: 0;

}
input {
  background-color: #fdfdf8;
}

label {
  padding: 10px;
}



#combo-box{
  padding: 5px;
  font-size: 1.2em;
  width: 200px;
  margin: auto;
}




/*hides the search that is not relevant DO NOT DELETE*/
.dontShow{
  display:none;
}